/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* BODY ITEMS */
.item_1 img{
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
}
.item_2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    max-width: 1000px;
    width: 100%;
    opacity: 0.1;
    z-index: 20;
}
.item_3 p{
    position: absolute;
    top: 60%;
    right: 60px;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    width: 200px;
    opacity: 0.1;
    z-index: 100;
}
/* NAVIGATION BAR */
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    height: 120px;
    line-height: 120px;
    z-index: 100;
}
.left_nav{
    display: flex;
    gap: 50px;
}
.nav_logo{
    display: flex;
    align-items: center;
}
.nav_logo img{
    width: 100px;
}
.nav_menu ul{
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
    margin: 0 30px;
}
.link{
    text-decoration: none;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.nav_menu .link_border{
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 43px;
    background: #000;
    transition: .4s ease-in-out;
}
.link:hover ~ .link_border{
    width: 30px;
}
.right_nav{
    display: flex;
    gap: 50px;
}
.nav_cart_box{
    display: none;
}
.menu_bars{
    display: flex;
    align-items: center;
}
.menu_bars_btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
}
.menu_bars_btn img{
    width: 30px;
}
.bar_1,.bar_2{
    transition: .3s ease-in-out;
}
.menu_bars_btn:hover .bar_1{
    margin-left: 5px;
}
.menu_bars_btn:hover .bar_2{
    margin-right: 10px;
}
.nav_dropdown_menu{
    display: none;
}
/* MAIN */
main{
    position: relative;
    display: flex;
    z-index: 100;
}
.left_col{
    width: 50%;
    padding: 40px 0 0 70px;
}
.left_col .shoe_title p{
    font-size: 4.2vw;
    font-weight: 600;
    letter-spacing: 5px;
}
.line{
    height: 1px;
    width: 200px;
    background: #000;
    margin: 25px 0 35px 0;
}
.left_col .shoe_description p{
    /* Cascadia Code is a local font - It is Installed on my PC */
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 0 0;
}
.cart_btn{
    font-weight: 600;
    width: 130px;
    height: 45px;
    border-radius: 30px;
    border: none;
    box-shadow: -5px 5px 10px rgba(0,0,0, 0.2);
    cursor: pointer;
}
.price{
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 600;
}
/* SHOP BOX */
.shop_box{
    display: flex;
    align-items: flex-end;
    gap: 50px;
    max-height: 35vh;
    height: 100%;
}
.shop_item_container{
    position: relative;
    background: #cfcfcf;
    width: 200px;
    height: 150px;
    border-radius: 40px;
    padding: 80px 20px 0 20px;
    box-shadow: -5px 5px 10px rgba(0,0,0, 0.2);
    cursor: pointer;
}
.shoe_img_box .shoe_img{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%) rotate(-40deg);
    width: 130px;
    transition: .3s ease-in-out;
}
.shoe_name_price{
    display: flex;
    justify-content: space-between;
}
.shoe_name_price h3{
    font-family: impact;
    font-weight: 400;
    width: 60px;
}
.add_to_shop{
    position: absolute;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #222;
    border-radius: 10px;
}
.add_to_shop i{
    font-size: 20px;
    color: #fff;
}
.shop_item_container:hover .shoe_img{
    top: 5%;
    transform: translate(-50%, -50%) rotate(-43deg);
}
.right_col{
    width: 50%;
    position: relative;
    height: 85vh;
}
.featured_img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 47vw;
    transform: translate(-70%, -70%) rotate(-35deg);
}
.shopping_cart_btn{
    position: absolute;
    right: 90px;
    bottom: 50px;
}
.shopping_cart_btn i{
    font-size: 30px;
    cursor: pointer;
}
@media only screen and (max-width: 755px){
    nav{
        z-index: 200;
    }
    .nav_menu{
        display: none;
    }
    .nav_dropdown_menu.responsive{
        display: flex;
    }
    .dropdown{
        position: relative;
    }
    .nav_dropdown_menu{
        position: absolute;
        top: 50px;
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
        width: 300px;
        height: 380px;
        backdrop-filter: blur(25px);
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
    }
    .nav_dropdown_menu ul li{
        line-height: 90px;
        margin: 0;
        text-align: center;
    }
    .dropdown:hover .bar_1{
        margin-left: 5px;
    }
    .dropdown:hover .bar_2{
        margin-right: 10px;
    }
    .nav_cart_box{
        display: flex;
        align-items: center;
    }
    .nav_cart_box i{
        font-size: 30px;
        cursor: pointer;
    }
    main{
        flex-direction: column;
    }
    .left_col{
        width: 100%;
        padding: 0 8vw;
        order: 2;
    }
    .right_col{
        width: 100%;
        position: relative;
        height: 300px;
        order: 1;
    }
    .shop_box{
        margin: 60px 0;
    }
    .shopping_cart_btn{
        display: none;
    }
}